// Color Variables
$color-greenery: #04724d;
$color-bad-orange: #ec4e20;
$color-york-yellow: #ffb13c;
$color-rufous: #a72608;
$color-faded-text: rgb(171, 171, 171);
$color-black: rgb(27, 27, 27);
$color-brand: #2b5ee3;
$color-grey: rgb(171, 171, 171);
$color-flat-grey: #fafafa;

// Background Variables
$bg-navbar: #141414;
$bg-modal: rgb(245, 245, 245);
$bg-sidebar-active: #3b8df862;
$bg-sidebar-hover: #ededed;
$bg-sidebar: rgb(235, 235, 235);
$bg-input: #f8f8f8;

// Size Variables
$size-title: 60px;
$size-default-text: 16px;
$size-button: 16px;

$light-grey: #fafbfe;
$dark-grey: #8694a9;
$border-grey: #eff3f7;

// Text Variables
$text-flat-black: #383838;
$text-flat-grey: #353531;
$text-lighter-grey: rgb(234, 234, 234);
$text-light-light-grey: #737373;
$text-border-grey: #d6d6d6;
$text-white: white;
$text-heading-size: 30px;
$text-small-size: 12px;
$text-body-size: 16px;

// Other Variables
$border-edge: rgb(156, 156, 156);
$button-bg: hsl(214, 93%, 60%);
$button-bg-hover: hsl(214, 93%, 50%);
$button-border-rad: 50px;
$input-border-rad: 2px;
$border-radius: 6px;

$inputHeight: 40px;
$btn-hover-darken-percentage: 10%;
$transition-speed: 50ms;
