@import './utilities/variables';

.hide {
  display: none;
}

#dashboard {
  min-height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 250px 1fr;

  background-color: $color-flat-grey;
}

.dashboard__data {
  // display: grid;
  background-color: white;
  height: 100%;
  padding: 20px;

  border-top: 1px solid $color-grey;
}

// .dashboard__content {
//   padding: 20px;
// }

.dashboard__content__header {
  display: flex;
  gap: 60px;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}

.dashboard__status {
  padding: 5px 30px;
  border-radius: 5px;
  display: inline-block;

  text-transform: uppercase;
  font-weight: 300;
}

.dashboard__heading {
  font-size: 50px;
}

#dashboard__list__jobs {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  gap: 40px;

  .job_item {
    // max-width: 400px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 3px;
    position: relative;

    box-shadow: rgba(0, 0, 0, 0.099) 0px 1px 4px;

    transition: all ease-in-out $transition-speed;
    &:hover {
      cursor: pointer;
      background-color: rgb(244, 244, 244);
    }

    .job__item__icon {
      position: absolute;
      right: -10px;
      top: -10px;
    }

    .job__item__title {
      // color: white;
      overflow: hidden;
      font-weight: 600;
      white-space: nowrap;
      height: 20px;
      text-overflow: ellipsis;
    }

    .job__item__subtitle {
      // font-weight: 200;
      // color: rgb(255, 255, 255);
      font-size: 14px;
    }
  }
}

.dashboard__form {
  height: 600px;

  .job__heading {
    padding: 60px 0;
    // font-size: $size-heading;
    small {
      display: none;
    }
  }
  .heading {
    position: relative;
    background-color: $color-mute-grey;
    border-bottom: 1px solid $border-edge;

    .form__options {
      display: flex;
      padding-left: 20px;
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      gap: 20px;
      .form__option {
        cursor: pointer;

        padding: 0 8px;
        text-align: center;
        font-weight: bold;
        opacity: 40%;
        &.selected {
          opacity: 100%;
          border-bottom: 2px solid $color-brand;
        }

        // &:hover {
        //   font-size: small;
        // }
      }
    }
  }

  flex: 100;
  width: 600px;
  label {
    display: block;
  }
  input {
    width: 100%;
  }
}

.dashboard__sidebar {
  background-color: $color-brand;
  div {
    color: white !important;
  }
}

.dashboard__data__header {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;

  .button-wrapper {
    margin: 0;
    button {
      padding: 0 40px;
      height: 39.5px;
    }
  }
}

.dashboard__search__container {
  padding: 0 10px;
  border-radius: 5px;
  background-color: $color-flat-grey;
  border: 1px solid $color-grey;
  flex-wrap: wrap;
  input {
    padding: 10px 0;
    color: grey;
    border: none;
    flex: 100;
    background-color: inherit;
    outline: 0;
  }

  .input__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .dashboard__seach__container__icon {
    flex-shrink: 100;
  }
}

.dashboard__sidebar {
  padding: 50px 25px;
}

.dashboard__filter__item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px 0;

  svg {
    fill: white;
    // width: 40px;
    aspect-ratio: 1/1;
    scale: 1.2;
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.16);
    pointer-events: none;
  }

  &.inactive {
    background-color: rgba(255, 255, 255, 0.063);

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  .dashboard__form {
    width: 450px;
  }
}

@media screen and (max-width: 450px) {
  .dashboard__form {
    width: 250px;
  }
}
