.hide {
  display: none;
}

#dashboard {
  min-height: calc(100vh - 60px);
  display: grid;
  grid-template-columns: 250px 1fr;
  background-color: #fafafa;
}

.dashboard__data {
  background-color: white;
  height: 100%;
  padding: 20px;
  border-top: 1px solid #eaeaea;
}

.dashboard__content__header {
  display: flex;
  gap: 60px;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  flex-wrap: wrap;
}

.dashboard__status {
  padding: 5px 30px;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300;
}

.dashboard__heading {
  font-size: 50px;
}

#dashboard__list__jobs {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  gap: 40px;
}
#dashboard__list__jobs .job_item {
  padding: 5px 10px;
  background-color: white;
  border-radius: 3px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.099) 0px 1px 4px;
  transition: all ease-in-out 100ms;
}
#dashboard__list__jobs .job_item:hover {
  cursor: pointer;
  background-color: rgb(244, 244, 244);
}
#dashboard__list__jobs .job_item .job__item__icon {
  position: absolute;
  right: -10px;
  top: -10px;
}
#dashboard__list__jobs .job_item .job__item__title {
  overflow: hidden;
  font-weight: 600;
  white-space: nowrap;
  height: 20px;
  text-overflow: ellipsis;
}
#dashboard__list__jobs .job_item .job__item__subtitle {
  font-size: 14px;
}

.dashboard__form {
  height: 600px;
  flex: 100;
  width: 600px;
}
.dashboard__form .job__heading {
  padding: 60px 0;
}
.dashboard__form .job__heading small {
  display: none;
}
.dashboard__form .heading {
  position: relative;
  background-color: rgba(171, 141, 255, 0.04);
  border-bottom: 1px solid #c8c8c8;
}
.dashboard__form .heading .form__options {
  display: flex;
  padding-left: 20px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  gap: 20px;
}
.dashboard__form .heading .form__options .form__option {
  cursor: pointer;
  padding: 0 8px;
  text-align: center;
  font-weight: bold;
  opacity: 40%;
}
.dashboard__form .heading .form__options .form__option.selected {
  opacity: 100%;
  border-bottom: 2px solid #2b5ee3;
}
.dashboard__form label {
  display: block;
}
.dashboard__form input {
  width: 100%;
}

.dashboard__sidebar {
  background-color: #2b5ee3;
}
.dashboard__sidebar div {
  color: white !important;
}

.dashboard__data__header {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}
.dashboard__data__header .button-wrapper {
  margin: 0;
}
.dashboard__data__header .button-wrapper button {
  padding: 0 40px;
  height: 39.5px;
}

.dashboard__search__container {
  padding: 0 10px;
  border-radius: 5px;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  flex-wrap: wrap;
}
.dashboard__search__container input {
  padding: 10px 0;
  color: grey;
  border: none;
  flex: 100;
  background-color: inherit;
  outline: 0;
}
.dashboard__search__container .input__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dashboard__search__container .dashboard__seach__container__icon {
  flex-shrink: 100;
}

.dashboard__sidebar {
  padding: 50px 25px;
}

.dashboard__filter__item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px 0;
}
.dashboard__filter__item svg {
  fill: white;
  aspect-ratio: 1/1;
  scale: 1.2;
}
.dashboard__filter__item.active {
  background-color: rgba(0, 0, 0, 0.16);
  pointer-events: none;
}
.dashboard__filter__item.inactive {
  background-color: rgba(255, 255, 255, 0.063);
}
.dashboard__filter__item.inactive:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .dashboard__form {
    width: 450px;
  }
}
@media screen and (max-width: 450px) {
  .dashboard__form {
    width: 250px;
  }
}/*# sourceMappingURL=dashboard.css.map */